.App {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.App-header {
  background-color: #61dafb;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.form-control {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #61dafb;
  border-color: #61dafb;
}
